data/*
**/*.pyc
*.egg-info
tmp
*.mp4
*.wav

# exceptions
!**/.gitkeep

# NatNet SDK
catkin_reas/src/natnet_ros_cpp/deps/NatNetSDK/

# Environmental variables configuration for IPs
.docker/.env

# Calibration file
asl_libs/franka_ft_calib_data.yaml